---
---

@import "{{ site.theme }}";

/* slack color #2F3D64,#121016,#469E99,#FFFFFF,#E8903F,#FFFFFF,#469E99,#B25195,#000000,#FFFFFF */
html {background: #2F3D64}
header h1, a {color: #2F3D64}
header {background: #469E99}
header p {color: #E8903F; font-weight: bold}
footer, footer a {color: #E8903F}
li {color: #B25195}
table img {
  width: 64px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
