---
---

@import "{{ site.theme }}";

/* slack color #2F3D64,#121016,#469E99,#FFFFFF,#E8903F,#FFFFFF,#469E99,#B25195,#000000,#FFFFFF */
html {background: #2F3D64}
header h1, a {color: #2F3D64}
header {background: #469E99}
header p.post {color: #E8903F; font-weight: bold; font-size: 110%}
header h1, header p {font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;}
footer, footer a {color: #E8903F}
li {color: #B25195}
td img {
  width: 64px;
  vertical-align: middle;
  /* -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0
  filter: grayscale(100%); */
}
.schools-logo div, .teams-logo div {
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  text-align: center
}
.schools-logo div img, .teams-logo div img {
  width: 125px;
  height: 125px
}

/* https://flaviocopes.com/css-printing/
     a[href*='//']:after {
       content:" (" attr(href) ") ";
     }
 */
@media print {
  @page {
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
  }
  p {
    page-break-inside: avoid;
  }
  p.not-print, span.not-print {display: none}
  div.print-escape {padding-top: 7rem}
}