<!doctype html>
<html lang="en-US"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 Homepage</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:80px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <!-- p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p -->
        <!-- ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul -->
      </header>
      <section>

      {{ content }}

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th><a href="/logos">School</a></th>
      <th>&nbsp;</th>
      <th>Project Title</th>
    </tr>
  </thead>
  <tbody>
  {% for page in site.posts %}<tr>
    <td style="font-size:80%;color:#B25195">{{ page.date | date_to_string }}</td>
    <td><a href="{{ page.url }}">
      <img alt="school logo" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/school-logo/{{ page.team_name }}.png" /></a></td>
    <td><a href="{{ page.url }}" style="white-space:nowrap">{{ page.team_name }}<sup style="color:#B25195">{% if page.people_onsite_count %}{{ page.people_onsite_count }}{%
  else %}^{% endif %}</sup></a>{% if page.team_name.size < 5%}<br/>{% endif %}
      {% if page.team_igem_id %}&#11157;&nbsp;<span class="igem_id"><a rel="external" href="https://igem.org/Team.cgi?id={{ page.team_igem_id }}" target="_blank">{{ page.team_igem_id }}</a></span>{% endif %}
      </td>
    <td>{{ page.project_title | markdownify | remove: '<p>' | remove: '</p>' }}</td>
  </tr>{% endfor %}
  </tbody>
</table>

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p>Maintained by <a rel="external" href="https://2020.igem.org/Team:Fudan/" target="_blank">Team:Fudan</a> <!-- a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a --></p>
      <p>2021 <!-- Hosted on GitHub &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a -->
      &middot; <a rel="external" href="https://beian.miit.gov.cn/" target="_blank">沪ICP备13004343-15号</a>
    </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
