<!doctype html>
<html lang="en-US"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 Homepage</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:80px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </header>
      <section>

      {{ content }}

<div style="background: 0 0;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -30px;">
  <div style="background-image: url(https://2021.igem.org/wiki/images/a/ae/OWF2021-banner.svg);
    height: 50px;
    background-size: cover;
    width: 100%;
    display: flex;
    color: #f9fafb;">
    <h2 style="color:white">Best Presentation Awards</h2>
  </div>
</div>
<div style="clear:both"></div>

<br/>

<div style="background: 0 0;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -80px;">
  <div style="background-image: url(https://2021.igem.org/wiki/images/a/ae/OWF2021-banner.svg);
    height: 50px;
    background-size: cover;
    width: 100%;
    display: flex;
    color: #f9fafb;">
    <h2 style="color:white">Active Participation Awards</h2>
  </div>
</div>
<div style="clear:both"></div>

<br/>

<h2>CCiC8 Participating Teams</h2>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><a href="/logos">Team</a></th>
      <th>&nbsp;</th>
      <th>Project&nbsp;Title</th>
    </tr>
  </thead>
  <tbody>
  {% for page in site.posts %}<tr>
    <td style="font-size:80%;color:#B25195">{{ page.date | date_to_string }}</td>
    <td class="team"><a href="{{ page.url }}">
      <img alt="team logo preferred" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/{% if page.team_logo_status == '1' %}team-logo{% else %}school-logo{% endif %}/{{ page.team_name }}.png" /></a></td>
    <td><a href="{{ page.url }}" style="white-space:nowrap">{{ page.team_name }}<sup>{% if page.people_attending_count %}{{ page.people_attending_count }}{%
  else %}^{% endif %}</sup></a>
      {% if page.team_igem_id != '4888' %}&rarr;&nbsp;<span class="igem_id"><a rel="external" href="https://igem.org/Team.cgi?id={{ page.team_igem_id }}" target="_blank">{{ page.team_igem_id }}</a></span>{% endif %}
      </td>
    <td>{{ page.project_title | markdownify | remove: '<p>' | remove: '</p>' }}</td>
  </tr>{% endfor %}
  </tbody>
</table>

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p>Maintained by <a rel="external" href="https://2020.igem.org/Team:Fudan/" target="_blank">Team:Fudan</a> <!-- a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a -->
        </p>
      <p>2021 <!-- Hosted on GitHub &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a -->
      &middot; <a rel="external" href="https://beian.miit.gov.cn/" target="_blank">沪ICP备13004343-15号</a>
        </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
