<!doctype html>
<html lang="en-US"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 Logos</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:80px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <!-- p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p -->
        <!-- ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul -->
      </header>
      <section>

      {{ content }}


{% assign sorted_posts = site.posts | sort: 'title' | sort: 'date' %}
<h2>Teams</h2>
<div class="center-logos">
<div class="teams-logo">
  {% assign team_counter = 0 %}
  {% for page in sorted_posts %}
  {% if page.team_name != 'Finally' %}
  {% assign team_counter=team_counter | plus:1 %}
  <div><a href="{{ page.url }}">
       <img alt="team logo" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/{% if page.team_logo_status == '' or page.team_logo_status == nil %}logoR{% else %}{{ page.team_name }}{% endif %}{% if page.team_logo_status != '1' %}{{ page.team_logo_status }}{% endif %}.png" />
       <br/><span style="font-size:67%{% if page.team_insured == '1' %};font-weight:bold{% endif %}">
         {{ team_counter }}.&nbsp;{{ page.team_name }}</span>
     </a></div>
  {% endif %}{% endfor %}
</div></div>
<div style="clear:both"></div>

<h2>参加CCiC8的学校/学院</h2>
<ol>
  {% assign team_names_array = "" | split:',' %}
  {% for page in sorted_posts %}
  {% if page.team_name != 'Finally' %}
  {% if team_names_array contains page.team_school_name %}
  <!-- {{ page.team_school_name }} {{ page.team_name }} -->
  {% else %}
  <li>{{ page.team_school_name }}</li><!-- {{ page.team_name }} -->
  {% endif %}
  {% assign team_names_array=team_names_array | push:page.team_school_name %}
  {% endif %}{% endfor %}
</ol><!-- {{ team_names_array }} -->

<h2>Schools</h2>
<div class="center-logos">
<div class="schools-logo">
  {% assign team_counter = 0 %}
  {% for page in sorted_posts %}
  {% if page.team_name != 'Finally' %}
  {% assign team_counter=team_counter | plus:1 %}
  <div><a href="{{ page.url }}">
       <img alt="school logo" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/school-logo/{{ page.team_name }}.png" />
       <br/><span style="font-size:67%{% if page.team_insured == '1' %};font-weight:bold{% endif %}">
         {{ team_counter }}.&nbsp;{{ page.team_name }}</span>
     </a></div>
  {% endif %}{% endfor %}
</div></div>
<div style="clear:both"></div>
<!-- sorted_posts -->

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p>Maintained by <a rel="external" href="https://2020.igem.org/Team:Fudan/" target="_blank">Team:Fudan</a> <!-- a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a -->
        </p>
      <p>&copy; CCiC8<span class="not-print"> &middot; <a href="/">Homepage</a></span></p>
        </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>