<!doctype html>
<html lang="zh-CN"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 People</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:80px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <!-- p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p -->
        <!-- ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul -->
      </header>
      <section>

      {{ content }}

<h2>People in Teams</h2>
{% assign people_names_array = [] %}
{% assign counter = 0 %}
{% assign sorted_posts = site.posts | sort: 'title' | sort: 'date' %}
{% for page in sorted_posts %}
{% if page.team_name != 'Finally' %}
<h4>{{ site.url }}{{ page.url }}</h4>
{% for a_name in page.people_onsite_names %}{% assign counter=counter | plus:1 %}
<p>
  {{ counter }}. <a href="{{ page.url }}" style="text-decoration:none">{{ page.team_school_name }}</a>
  {{ a_name }}{% if people_names_array contains a_name %}@同名@{% endif %}
  {% if page.team_insured == '1' %}<input type="checkbox" name="test" checked/><label for="test">意外险</label>{% endif %}
  </p>
{% assign people_names_array=people_names_array | push:a_name %}
{% endfor %}
{% endif %}{% endfor %}

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p>Maintained by <a rel="external" href="https://2020.igem.org/Team:Fudan/" target="_blank">Team:Fudan</a> <!-- a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a -->
        </p>
      <p>&copy;CCiC8<span class="not-print"> &middot; <a href="/">Homepage</a></span></p>
        </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>