<!doctype html>
<html lang="zh-CN"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 People Onsite</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:80px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </header>
      <section>

      {{ content }}

{% assign bohao_test_negative = "肖涵予,王凯旋,黄静波,张靖淇,潘志生,常靖雨,黄宇,丁泠薇,杨宇辰,吴津荣,刘睿琦,赵艳萍,高子琦,俞俊颖,郭昊天,方陶松,吴胜男,周文婧,霍玉亮,张恩泽,程子芸,余谷风,祝宇玥,胡沛尧,朱俊超,朱骏杰,赵星钧,颜秉浩,王喜,张智进,顾睿初,周松池,肖亦祺,姜戈,胡远洁,张颖,张博雅,陆宇晴,李一豪,田仕峥,刘思彤,陈姝亦,王泽元,于承平,曾星辰,周琳颖,李萌华,王效涛,叶婷,刘逸涵,乔滢瑞,钱秋晔,李奕帆,朱子健,任思源,陈柏润,韩欣越,贺玉莹,严帆,刘旭航,李诗渊,樊隆,白悦琪,汪伟旭,武文婷,江山,赵瀚清,陈佳艺,张艺瀛,王远嘉,胡红娟,汪思宇,郭子轩,李家恒,宣子涛,韩丞治,李欣然,蔡亮,吴姜,康蕴哲,凌子傲,孙静,薛睿轩,辛骐,贾涵迪,王之义,王化雨,丁涵,李卓雅,胡杰妮,王恺君,丁诗悦,苏睿,李宇翔,周菁,祁全,何立贤,王承志,廖静雅,黄俊涛,景影,刘衍锋,肖宇榛,姚璐璐,万莹璐,朱婉晴,周雪伟,张彦哲,沈泽楷,孙艳冬,张佳,卢金霞,任秋翰" | split:',' %}

{% assign sorted_posts = site.posts | sort: 'title' | sort: 'date' %}
{% assign teams_array = "" | split:',' %}
<h2>People will be onsite</h2>
{% assign counter = 0 %}
{% for page in sorted_posts %}
{% if page.team_name != 'Finally' and page.onsite_people_0812count > 0 %}
{% assign teams_array=teams_array | push:page.team_name %}
<h4>{{ site.url }}{{ page.url }}
  {% if page.onsite_people_0812count < page.people_attending_count %}<span>线上参会人数({{ page.people_attending_count }}-{{ page.onsite_people_0812count }})={{ page.people_remote.size }}</span>{% endif %}
  </h4>
{% for a_name in page.people_attending_names %}{% assign counter=counter | plus:1 %}
<p>
  {{ counter }}. <a href="{{ page.url }}" style="text-decoration:none">{{ page.team_school_name }}</a>
  {{ a_name }}{% if people_names_array contains a_name %}@同名@{% endif %}
  {% if page.team_insured == 'yes' %}<input type="checkbox" name="insured{{ counter }}" checked/><label for="insured{{ counter }}">已购保险</label>{% endif %}
  <input type="checkbox" name="onsite{{ counter }}" checked/><label for="onsite{{ counter }}">线下参会</label>
  {% if bohao_test_negative contains a_name %}<input type="checkbox" name="firstday{{ counter }}" checked/><label for="firstday{{ counter }}">首日核酸阴性</label>{% endif %}
  </p>
{% assign people_names_array=people_names_array | push:a_name %}
{% endfor %}
{% endif %}{% endfor %}
<!-- {% for a_team in teams_array %}{{ a_team }}
{% endfor %} -->

<h2>Teams have confirmed to attend the meeting online</h2>
{% for page in sorted_posts %}
{% if page.onsite_people_0812count == 0 %}
<p>
  <a rel="external" href="https://igem.org/Team.cgi?id={{ page.team_igem_id }}" target="_blank">{{ page.team_igem_id }}</a>
  <a href="{{ page.url }}">{{ page.team_name }}</a>
  {{ page.team_school_name }}<sup>线上参会</sup>
  </p>
{% endif %}{% endfor %}

<!-- h2 style="background-color:red">Not response or not sure</h2 -->
{% for page in sorted_posts %}
{% if page.onsite_people_0812count == nil %}
<p>
  <a rel="external" href="https://igem.org/Team.cgi?id={{ page.team_igem_id }}" target="_blank">{{ page.team_igem_id }}</a>
  <a href="{{ page.url }}">{{ page.team_name }}</a>
  {{ page.team_school_name }}
  原计划{{ page.people_attending_count }}人
  {% if page.team_insured == 'yes' %}<input type="checkbox" name="insured{{ page.team_name }}" checked/><label for="insured{{ page.team_name }}">已购保险</label>{% endif %}
  </p>
{% endif %}{% endfor %}

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p>Maintained by <a rel="external" href="https://2020.igem.org/Team:Fudan/" target="_blank">Team:Fudan</a> <!-- a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a -->
        </p>
      <p>&copy; CCiC8<span class="not-print"> &middot; <a href="/">Homepage</a></span></p>
        </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>