<!doctype html>
<html lang="zh-CN"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 | Team {{ page.team_name }}</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:72px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1>Team: {{ page.team_name }}</h1>
        <!-- https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL.png -->
        <p>{{ site.description }}</p>
      </header>
      <section>
<h2><br/>{{ page.project_title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>

<!--
   1. Diagnostics
   2. Energy
   3. Environment
   4. Food &amp; Nutrition
   5. Foundational Advance
   6. Hardware
   7. Information Processing
   8. Manufacturing
   9. New Application
  10. Open
  11. Software
  12. Therapeutics
  -->
<p>Submitted on {{ page.date | date_to_string: "ordinal", "US" }}</p>

<p>来自{{ page.team_school_name }}的{{ page.people_onsite_names | join: "、"
}}将出席第八届中国地区iGEMer交流会（2021年8月27至29日，中国上海）。</p>

{% if page.people_onsite_count != page.people_onsite_names.size %}<pre>Alert: count {{ page.people_onsite_names.size }}, input {{ page.people_onsite_count }}</pre>{% endif %}

      {{ content }}

<p class="not-print"><img alt="team logo" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/{% if page.team_logo == '' or page.team_logo == nil %}logoS{% else %}{{ page.team_name }}{% endif %}{% if page.team_logo != '1' %}{{ page.team_logo }}{% endif %}.png" style="width:250px;float:left;padding-right:1rem" />
<img alt="school logo" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/school-logo/{{ page.team_name }}.png" style="width:250px" /></p><div style="clear:both"></div>

<p><a rel="external" href="https://2021.igem.org/Team:{{ page.team_name }}" target="_blank">https://2021.igem.org/Team:{{ page.team_name }}</a>
{% if page.team_igem_id != '4888' %}<br/>
<a rel="external" href="https://igem.org/Team.cgi?id={{ page.team_igem_id }}" target="_blank">https://igem.org/Team.cgi?id={{ page.team_igem_id }}</a><br/>
<a rel="external" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K{{ page.team_igem_id }}000" target="_blank">http://parts.igem.org/wiki/index.php?title=Part:BBa_K{{ page.team_igem_id }}000</a>
{% endif %}</p>

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p>{{ site.url }}{{ page.url }}</p>
      <p>&copy;CCiC8 &middot; <a href="/">Homepage</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
