<!doctype html>
<html lang="zh-CN"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 - {{ page.team_name }}</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:72px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1 class="not-print">Team: {{ page.team_name }}</h1>
        <!-- https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL.png -->
        <p class="post not-print">{{ site.description }}</p>
      </header>
      <section>
<h2><br/>{{ page.project_title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>

<!--
   1. Diagnostics
   2. Energy
   3. Environment
   4. Food &amp; Nutrition
   5. Foundational Advance
   6. Hardware
   7. Information Processing
   8. Manufacturing
   9. New Application
  10. Open
  11. Software
  12. Therapeutics
  -->
{% if page.team_igem_id != '4888' %}<!-- Submitted on --><p>
  {{ page.date | date_to_string: "ordinal", "US" }}
  </p>{% endif %}
{% if page.people_attending_count > 0 %}<p>
  来自<span {% if page.team_insured == 'yes' %}style="text-decoration:underline"{% endif %}>{{ page.team_school_name }}</span>的{{ page.people_attending_names | join: "、"
}}将{% if page.onsite_people_0812count > 0 %}到沪并{% endif %}出席第八届中国地区iGEMer交流会（2021年8月27至{% if page.except_early_stop %}{{ page.except_early_stop }}{% else %}29{% endif %}日，中国上海）。
  {% if page.team_insured == 'yes' %}组委会已经收到来沪人员的意外险保单。{% endif %}
  </p>{% endif %}

{% if page.people_attending_count != page.people_attending_names.size %}<pre>Alert: count {{ page.people_attending_names.size }}, input {{ page.people_attending_count }}</pre>{% endif %}

      {{ content }}

<p class="not-print"><img alt="team logo" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/{% if page.team_logo_status == '' or page.team_logo_status == nil %}logoS{% else %}{{ page.team_name }}{% endif %}{% if page.team_logo_status != '1' %}{{ page.team_logo_status }}{% endif %}.png" style="width:250px;float:left;padding-right:1rem" />
<img alt="school logo" src="https://raw.githubusercontent.com/coronin/ccic8/gh-pages/school-logo/{{ page.team_name }}.png" style="width:250px" /></p><div style="clear:both"></div>

{% assign URL_check = "/" | append:page.team_name %}
{% unless page.redirect_from contains URL_check %}
<p class="not-print">ALERT! /{{ page.team_name }} broken</p>{% endunless %}

<p>{% if page.team_igem_id != '4888' %}
{% assign URL_check = "/" | append:page.team_igem_id %}
{% unless page.redirect_from contains URL_check %}
<span class="not-print">ALERT! /{{ page.team_igem_id }} broken</span><br/>{% endunless %}
<a rel="external" href="https://2021.igem.org/Team:{{ page.team_name }}" target="_blank">https://2021.igem.org/Team:{{ page.team_name }}</a><br/>
<a rel="external" href="https://igem.org/Team.cgi?id={{ page.team_igem_id }}" target="_blank">https://igem.org/Team.cgi?id={{ page.team_igem_id }}</a><br/>
<a rel="external" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K{{ page.team_igem_id }}{% if page.specified_part %}{{ page.specified_part }}{% else %}000{% endif %}" target="_blank">http://parts.igem.org/wiki/index.php?title=Part:BBa_K{{ page.team_igem_id }}{% if page.specified_part %}{{ page.specified_part }}{% else %}000{% endif %}</a>
{% if page.promotion_video_URL %}<br/><a rel="external" href="{{ page.promotion_video_URL }}" target="_blank">{{ page.team_name }}&nbsp;Project&nbsp;Promotion&nbsp;video at igem.org</a>{% endif %}
{% endif %}</p>

{% assign session_1 = "SCUT-China27#1
NJTech_China27#2
NNU-China27#3
SZU-China27#4
Jiangnan_China27#5
HUST-China27#1
SJTU-Software27#2
Tongji_Software27#3
USTC-Software27#4
SYSU-Software27#5
CSU_CHINA(iDEC)27#1" | split:',' %}
{% assign session_2 = "NWU-CHINA-B27#1
BNU-China27#2
BNDS_China27#3
Nanjing_NFLS27#4
XHD-Wuhan-Pro-China27#5
ICJFLS
LINKS_China27#2
CHINA-FAFU27#3
SJTU-BioX-Shanghai27#4
NDNF_China27#5" | split:',' %}
{% assign session_3 = "CPU_CHINA27#1
OUC-China27#2
DUT_China27#3
NAU-CHINA
CAU_China27#5
Tongji_China
Think_Edu_China
SMS_Shenzhen27#3
HiZJU-China27#4
SCAU-China27#5" | split:',' %}
{% assign session_4 = "BUCT28#1
ZJU-China28#2
NJMU-China28#3
FZU-China28#4
NMU_China28#5
LZU-CHINA28#1
SZPT-CHINA28#2
CSU_CHINA28#3
SUSTech_Shenzhen28#4
WHU-China" | split:',' %}
{% assign session_5 = "IvyMaker-China
GreatBay_SCIE28#2
Tsinghua28#3
BNUZ-China28#4
FAFU-CHINA
SYSU-CHINA28#1
SCU-China28#2
NUDT_CHINA28#3
Nanjing-China
Tianjin28#5" | split:',' %}
{% assign session_6 = "ShanghaiTech_China28#1
NWU-CHINA-A28#2
UCAS-China28#3
ED-NAU
BIT-China28#5
NPU-CHINA28#1
BUCT-China28#2
XJTU-China
ECUST_China28#4
SJTang" | split:',' %}
{% assign session_7 = "SZ-SHD28#1
Jilin_China28#2
UESTC-China28#3
LZU-HS-CHINA
ZJUT-China28#5
NJU-China28#1
XMU-China28#2
GreatBay_SZ28#3
Whittle28#4" | split:',' %}
{% assign session_8 = "HZAU-China28#1
XJTLU-CHINA28#2
GreatBay_United
YiYe-China28#4
HUST2-China28#5
BIT28#1
NEU_CHINA28#2
Fudan28#3
USTC" | split:',' %}

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p>{{ site.url }}{{ page.url }}</p>
      <p>&copy; CCiC8<span class="not-print"> &middot; <a href="/">Homepage</a></span></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
