<!doctype html>
<html lang="zh-CN"><!-- {{ site.time }} version {{ site.github.build_revision }} -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CCiC8 Volunteer</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper print-escape">
      <header style="background:#469E99 url(https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL400corner.png) no-repeat bottom right;height:72px" {% unless site.description %} class="without-description" {% endunless %}>
        <h1>Volunteer: {{ page.v_name_en }}</h1>
        <!-- https://raw.githubusercontent.com/coronin/ccic8/gh-pages/team-logo/logoL.png -->
        <p>{{ site.title }}</p>
      </header>
      <section>

<h2>Certificate of Voluntary Service</h2>

<p>
  This is to certify that <strong>{% if page.v_male == 1 %}Mr.{% else %}Miss{% endif %} {{ page.v_name_en }}</strong> has been fully involved in and worked with {{ site.title }}, jointly organized by <em>State Key Laboratory of Genetic Engineering</em>, <em>School of Life Sciences, Fudan University</em> and <em>Shanghai Society of Genetics</em>. During the service (<strong>{{ page.v_dates }}</strong>), we found {% if page.v_male == 1 %}him{% else %}her{% endif %} a hardworking and dedicated person. {% if page.v_male == 1 %}He{% else %}She{% endif %} would be an asset of any organization with whom {% if page.v_male == 1 %}he{% else %}she{% endif %} would be engaged.<br/>
  We wish {% if page.v_male == 1 %}him{% else %}her{% endif %} a brilliant and successful career in {% if page.v_male == 1 %}his{% else %}her{% endif %} life.<br/>
  Conference Chair: Prof. Daru Lu <img style="float:right" alt="https://ccic.actin.cn{{ page.url }}" src="https://chart.actin.cn/chart?chs=100x100&cht=qr&chld=M|1&chl=https://ccic.actin.cn{{ page.url }}" />
  <br/>Presented this August 31, 2021
</p>

<h2>志愿服务记录证明</h2>

<table>
  <tr style="border-top:1px solid #aaa">
    <td rowspan="2">志愿者信息</td>
    <td style="color:#555!important">姓名</td>
    <td>{{ page.v_name }}</td>
  </tr>
  <tr>
    <td>身份证</td>
    <td><textarea rows="1" cols="20" style="resize:none;background:transparent;border:none;outline:none"></textarea></td>
  </tr>
  <tr>
    <td>志愿者服务时间</td>
    <td colspan="2">
      统计日期：{{ page.v_dates }}<br/>
      总计：{{ page.v_hours }}小时
    </td>
  </tr>
  <tr>
    <td>志愿服务内容</td>
    <td colspan="2" style="color:#555!important">{{ content | remove: '<p>' | remove: '</p>' }}</td>
  </tr>
  <tr>
    <td>活动负责人</td>
    <td colspan="2" style="color:#555!important">卢大儒&nbsp;&nbsp;<img alt="卢大儒" src="http://0.actin.cn/daru-lu-signature.png" style="width:66px;height:47px" /></td>
  </tr>
</table>

<p>印章:&nbsp;遗传工程国家重点实验室&nbsp; 印章:&nbsp;复旦大学生命科学学院&nbsp; 印章:&nbsp;上海市遗传学会<br/>2021年8月31日</p>

      </section>
    </div><!-- .wrapper -->
    <footer>
      <p class="not-print">https://ccic.actin.cn{{ page.url }}</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30563986-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
